wheel==0.37.0
setuptools==57.0.0
flask==2.0.1
werkzeug==2.0.1
pandas==1.2.4
numpy==1.19.5
matplotlib==3.3.4
seaborn==0.11.1
fpdf==1.7.2
humanize==3.13.1
scipy==1.6.3
Jinja2==3.0.1
MarkupSafe==2.0.1
click==7.1.2
itsdangerous==2.0.1 